<%- include("partials/header")%>

<div class="ui main text container segment">
    <div class="ui header huge">New Blog</div>
    <form action="/blogs" method="POST" class=" ui form">

        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" >

            </textarea>
            
        </div>
        <div class="field">
            
        <input type="submit" class="ui violet inverted button">
        </div>
        
       
        

    </form>
</div>

<%- include("partials/footer")%>